* {
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.note {
    width: 45%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pic {
    width: 45%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic img {
    max-width: 380px;
}

.locate {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.location {
    width: 40%;
    height: 150px;
    text-align: center;
    background-color: #3B2118;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location Button {
    width: 100px;
    border-style: none;
    padding: 8px;
    cursor: pointer;
    background-color: #3B2118;
    border: 1px solid white;
}

.location Button:hover {
    background-color: white;
}

.officelist {
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.map{
    width: 60%;
}

.address {
    width: 40%;
    height: 52%;
    padding: 10px;
    background-color: #3B2118;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map iframe {
    width: 100% !important;
    height: 100%;
}

.container1 {
    text-align: center;
}

.container1 h3 {
    color: #3B2118;
}

.container1 div {
    border-top: solid #3B2118 2px;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.name,
.id,
.city {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


.form input {
    margin-top: 30px;
    border: #3B2118 solid 1px;
    width: 90%;
    height: 20px;
    padding: 25px;
}

.select,
.area {
    width: 100%;
}

.form select {
     border: #3B2118 solid 1px;
    margin-top: 30px;
    width: 95.5%;
    height: 50px;
    padding: 12px 15px;
    cursor: pointer;
}

.form textarea {
     border: #3B2118 solid 1px;
    margin-top: 30px;
    width: 95.5%;
    height: 50px;
    padding: 12px 15px;
    height: 100px;
}

.form button {
    background-color:  #3B2118;
    color: white;
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    border-style: none;

}

.form button:hover {
    background-color: white;
    border: solid black 1px;
}


.errormsg {
    color: red;
}

.count {
    display: block;
    text-align: right;
}

.pop1,.pop2 {
    background-color: white;
    opacity: 1;
    color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    border: solid black 1px;
    padding: 20px;
    margin-left: 400px;
    margin-top: 100px;
    position: relative;
    z-index: 9;

}



.hidden {
    display: none;
}

.overlay2,.overlay1 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



.popaddress {
    background-color:  #3B2118;
    padding: 10px;
    opacity: 1;
    color: black;
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
}

.popmap {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .note {
        width: 100%;
    }

    .pic img {
        width: 300px;
    }

    .locate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .location {
        width: 500px;
    }

    .officelist {
        width: 100%;
        padding: 20px;
    }

    .address {
        padding: 20px;
        width: 250px;
        font-size: 12px;
    }

    .map iframe {
        width: 500px;
    }

    .form {
        width: 70%;
    }

    .name,
    .id,
    .city {
        flex-direction: column;
        gap: 0;
    }

    .flex {
        width: 100%;
    }

    .form input {
        width: 93%;
    }

    .form textarea {
        width: 92.5%;
    }
    .form select{
        width: 92.5%;
    }

   

    .pop1,.pop2 {
        width: 250px;
        margin-left: 200px;
        margin-top: 40px;
    }

    .popmap iframe {
        width: 210px;
    }
    .popaddress {
        width: 200px;
        height: 250px;
    }


}

@media screen and (max-width: 600px) {
    .pop1,.pop2 {
        width: 200px;
        margin-left: 150px;
        margin-top: 40px;
    }

    .popmap iframe {
        width: 150px;
    }
    .popaddress {
        width: 150px;
        height: 200px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .note {
        width: 80%;
    }

    .pic img {
        width: 250px;
    }

    .locate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .location {
        width: 350px;
    }

    .officelist {
        width: 80%;
        flex-direction: column;
    }

    .address {
        padding: 20px;
        width: 100%;
        height: 220px;
        font-size: 12px;
    }
    .map{
        width: 100%;
    }

    .map iframe {
        width: 600px;
        height: 400px;
    }

    .form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .name,
    .id,
    .city {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .flex {
        width: 100%;
    }

    .form input {
        width: 100%;
    }

    .form select {
        width: 100%;
    }

    .form textarea {
        width: 100%;
    }
}